<?xml version="1.0"?>
<config>
    <modules>
        <Rukhsar_AutoShipping>
            <version>1.0.0</version>
        </Rukhsar_AutoShipping>
    </modules>
    <global>
        <models>
            <rukhsar_autoshipping>
                <class>Rukhsar_AutoShipping_Model</class>
            </rukhsar_autoshipping>
        </models>
    </global>
    <frontend>
        <events>
            <checkout_cart_update_items_after>
                <observers>
                    <rukhsar_autoshipping_observer>
                        <type>singleton</type>
                        <class>rukhsar_autoshipping/observer</class>
                        <method>addShipping</method>
                    </rukhsar_autoshipping_observer>
                </observers>
            </checkout_cart_update_items_after>
            <checkout_cart_product_add_after>
                <observers>
                    <rukhsar_autoshipping_observer>
                        <type>singleton</type>
                        <class>rukhsar_autoshipping/observer</class>
                        <method>addShipping</method>
                    </rukhsar_autoshipping_observer>
                </observers>
            </checkout_cart_product_add_after>
            <sales_quote_remove_item>
                <observers>
                    <rukhsar_autoshipping_observer>
                        <type>singleton</type>
                        <class>rukhsar_autoshipping/observer</class>
                        <method>addShipping</method>
                    </rukhsar_autoshipping_observer>
                </observers>
            </sales_quote_remove_item>
            <controller_action_postdispatch_checkout_cart_estimatePost>
                <observers>
                    <rukhsar_autoshipping_observer>
                        <type>singleton</type>
                        <class>rukhsar_autoshipping/observer</class>
                        <method>addShipping</method>
                    </rukhsar_autoshipping_observer>
                </observers>
            </controller_action_postdispatch_checkout_cart_estimatePost>
            <customer_login>
                <observers>
                    <rukhsar_autoshipping_observer>
                        <type>singleton</type>
                        <class>rukhsar_autoshipping/observer</class>
                        <method>addShipping</method>
                    </rukhsar_autoshipping_observer>
                </observers>
            </customer_login>
        </events>
    </frontend>
</config>